.ngoc {
display:flex;
align-items:center;
padding:20px 0;
}
.headed {
max-width:1070px;
margin:auto;
width:100%;

}
#content {
width: 100%;
background-color: #FFFFFF;
}

header{
position: fixed;
top: 0;
left:0;
width:100%;
background: white;
box-shadow:0 1px 4px hsl(0 4% 15% /10%);
z-index:100;
}
.logo{
width:100px;
height:50px;
object-fit:contain;
padding:left;
cursor:pointer;
}
.gsearch{
float:right;
height:2rem;
font-size:1rem;
margin:0 0 0 600px;
overflow:hidden;
position:relative;
border-radius:5px 0 0 5px;
}
.bntsearch{
height:2rem;
width:2rem;
border-radius: 0 5px 5px 0;
cursor:pointer;
}
#dangnhap{
text-decoration: none;
font-size:20px;
color:black;
margin:0 0 0 40px;
cursor:pointer;
}
#dangnhap:hover{
color:#D3D3D3;
}


#dangnhap{
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size:19px;
	color:black;
	line-height: 30px;
	margin:0 0 0 40px;
	cursor:pointer;
}
#dangnhap:hover{
	color:#D3D3D3;
}
.dangnhap-box{
	width: auto;
	height: 30px;
	overflow: hidden;
}
.dangnhap-img{
	height: 30px;
	width: 30px;
	border-radius: 50px;
	float:left;

}
.dangnhap-box.active #dangnhap{
   transition: none;
   display:none;
}
.dropbutton {
	margin-left: 40px;
	background:white;
	color:#000000;
	z-index: 999;
	font-size: 17px;
	height: auto;
	width: 130px;
	border: none;
	cursor: pointer;
	line-height: 30px;
}
  /* The container <div> - needed to position the dropdown content */
.drop{
	position: relative;
	display: inline-block;
  }
.drop-content {
	font-size: 15px;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 999;
	font-family:Arial, Helvetica, sans-serif;
}
#linkavt-icon{
	float:right;
	margin-right: 5px;
	margin-top: 3px;
	font-size: 15px;
}
.drop-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.drop-content a:hover {
    background-color: #ddd;
    color:#10b18e;
}
.show {display:block;}

#content {
    width: 1200px;
    margin: 0px auto;
    height: 200px;
    background-color: #f61616;
    
    
}

